<div class="background">

<h3>Manage Your Teams</h3>
<h5>Click on a team to view players</h5>

<hr>
<% teams.forEach(function(team){ %>

  <h4><a href="/manage/teams/<%= team.id %>"><%= team.name %></a></h4>
  <p>Created On: <%= team.createdAt %></p>
  <a href="/manage/teams/<%= team.id %>/edit" class="btn btn-info glyphicon glyphicon-edit"></a>
  <a href="/manage/teams/<%= team.id %>" class="btn btn-danger glyphicon glyphicon-trash delete-btn" onclick="return confirm('Are you sure you want to delete?');"></a>

<hr>
<% }); %> 

<a href="/profile">&larr; Back to Profile</a>

</div>