<div class="remove">

  <h4>Here are the players on team "<%= team.name %>"</h4>

  <% users.forEach(function(user){ %>
  <ul>
    <li><h4><%= user.firstName %> <%= user.lastName %> <a href="/manage/teams/<%= user.id %>" class=" trash btn btn-danger glyphicon glyphicon-trash delete-btn-users"></a></h4></li>
  </ul>
  <% }); %>

  <form action="/manage/teams/<%= team.id %>" method="POST">
    <input type="hidden" value="<%= allUsers.id %>">
    <label for="players">Select Player to add to <%= team.name %>:</label>
    <select name="user">
      <% allUsers.forEach(function(user){ %>
      <option value="<%= user.id %>">
        <%= user.firstName %> <%= user.lastName %>
        <% }); %>
      </select>

      <input type="submit" class="add btn btn-success" value="Add">
    </form>

    <br>
    <a href="/manage/teams">&larr; Back to Your Teams</a>
  </div>

