<div class="remove">

<h3>Here are the teams entered into "<%= tournament.name %>":</h3>

<ol>
<% teams.forEach(function(team){ %>
  <li><h4><a href="/manage/teams/<%= team.id %>"><%= team.name %></a> &nbsp 
<!--   <a href="/manage/teams/user %>" class="trash btn btn-danger glyphicon glyphicon-trash delete-btn-tourneyTeams"></a> -->
  </h4></li>
<% }); %> 
</ol>

<form action="/manage/tournaments/<%= tournament.id %>" method="POST">
  <input type="hidden" value="<%= allTeams.id %>">
  <label for="teams">Register a Team to play in <%= tournament.name %>:</label>
  <select name="team">
    <% allTeams.forEach(function(team){ %>
    <option value="<%= team.id %>">
      <%= team.name %>
      <% }); %>
    </select>

    <input type="submit" class="add btn btn-success" value="Register">
  </form>
  <br>

  <a href="/manage/tournaments">&larr; Back to Your Tournaments</a>

</div>