<div class="remove">

<h3>All tournaments are listed below.</h3>
<h7>*Please note: Once you register your team(s), you will have to contact the tournament creator to unregister.</h7>
<hr>
<% tournaments.forEach(function(tournament){ %>
    <h4><%= tournament.name %></h4>
    <h5>Tournament Date: <%= tournament.date.toDateString() %></h5>
    <% users.forEach(function(user){ %>
      <h5>Tournament Manager: <%= user.firstName %></h5>
    <% }); %>

  <form action="/tournament/allTournaments" method="POST">
    <input type="hidden" name="tournamentId" value="<%= tournament.id %>">
    <label for="teams">Your Teams:</label>
      <select id="teams" name="teams">
        <% teams.forEach(function(team){ %>
          <option value="<%= team.id %>">
          <%= team.name %>
        <% }); %>
      </select>

      <input type="submit" class="add btn btn-success" value="Register Team for this Tournament">
  </form>
<hr>
<% }); %> 

<a href="/profile">&larr; Back to Manage Teams/Tournaments</a>

</div>