<div class="background">

<h3>All created tournaments are listed below. Still need to edit date and show name of tournament creator</h3>
<hr>
<% tournaments.forEach(function(tournament){ %>

    <h4><%= tournament.name %></h4>
    <h5>Date: <%= tournament.date %></h5>

  <form action="/tournament/allTournaments" method="POST">
    <input type="hidden" name="tournamentId" value="<%= tournament.id %>">
    <label for="teams">Your Teams:</label>
      <select id="teams" name="teams">
        <% teams.forEach(function(team){ %>
          <option value="<%= team.id %>">
          <%= team.name %>
        <% }); %>
      </select>

      <input type="submit" class="btn btn-success" value="Register Team for this Tournament" style="font-size: 12px; height: 27px;">
  </form>
<hr>
<% }); %> 

</div>
<a href="/manage/tournaments">&larr; Back to Your Tournaments</a>